APP_NAME=ProjectTracker
APP_ENV=local
APP_KEY=base64:zX7dBP1Ou57cjDZs4E4VpAEls0dgwNx18UqBzPWndhU=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=project_tracker
DB_USERNAME=laravel
DB_PASSWORD=laravel

SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
CACHE_STORE=file
